h1{color:gray;text-align:center}
#navbar{
    background-color: gray;
    height:50px;

}


.navlink{
    display: inline;
}

.navlink a{
    color:pink;
    float: center;
    padding: 20px;
    text-decoration:none;
    font-size:1.4em;
}


.Navlink a:hover{
    color:gray;
    transition: 0.1s;
}


body{background-color:bold pink ;background-image:url("https://ih1.redbubble.net/image.363433537.1658/flat,800x800,075,t.u1.jpg"); 
background-size:cover} 


div{
    border-style:sold;
    background-color:gold;
    padding;58px;
    margin:73px:
        margin-top:5px-right:
}